DATABASE_URL=postgresql://neondb_owner:npg_0D4rMEVfUzoJ@ep-ancient-dream-zayc8npe-pooler.c-2.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=tNmw4MTzB6DI7fEyJ6kLh6GMpLgeGzvgPFNYL8do7G0=
FRONTEND_URL=http://localhost:3000